# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# JWT
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Security
ALLOWED_HOSTS=api.mysite.com,localhost,127.0.0.1,api.mysite.com
BACKEND_CORS_ORIGINS=https://mysite.com,https://dashboard.mysite.com,http://localhost:3000

# ENV
ENV_MODE=dev